[Unit]
Description=Gunicorn instance for the backend of digit recognition
After=network.target
[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/aws-test
ExecStart=/home/ubuntu/aws-test/venv/bin/gunicorn -b localhost:8000 application:application
Restart=always
[Install]
WantedBy=multi-user.target